.keypad {
  width: 100%;
  max-width: 484px;
  margin: 10px auto;

  &__row {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 8px 0 0;
    padding: 0 8px;

    &:nth-child(1) {
      margin: 0;
    }

    &:nth-child(2) {
      margin: 8px 22px 0;
    }
  }
}
