.Instructions {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding-top: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  // background: rgba(255, 255, 255, 0.7);

  &--light {
    background-color: #fff;
  }

  &--dark {
    background-color: #12121362;
  }

  &__wrapper {
    padding: 32px;
    max-width: 520px;
    height: 100%;

    border-radius: 8px;
    border: 1px solid #1a1a1b;
    // background-color: #fff;
    &--light {
      background-color: #fff;
    }
  
    &--dark {
      background-color: #121213;
      color: #fff;
    }
  }

  &__controls {
    display: flex;
    justify-content: right;
    align-items: center;
  }

  &__title {
    margin: 30px 0 4px;
    font-size: 28px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
  }

  &__subheading {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
  }

  &__list {
    margin: 16px 0;
    padding-left: 20px;
  }

  &__list {
    margin-bottom: 4px;
  }

  &__close {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 28px;
    height: 28px;

    background: transparent;
    border: none;

    cursor: pointer;
  }

  &__content {
    text-align: start;
  }

  &__examples {
    border-bottom: 1px solid #3a3a3c;

    &-item {
      margin: 8px 0 20px;
    }
  }
}