.Instructions {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(255,255,255,0.7);

  &__wrapper {
    width: 500px;
    padding: 16px 16px 0;
    border-radius: 8px;
    border: 1px solid #1a1a1b;
    background-color: #fff;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 1em;
    text-transform: uppercase;
  }

  &__close {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 28px;
    height: 28px;

    background: transparent;
    border: none;

    cursor: pointer;
  }

  &__content {
    text-align: start;
  }

  &__examples {
    border-top: 1px solid #3a3a3c;
    border-bottom: 1px solid #3a3a3c;
  }
}