.Header {
  padding: 4px 16px;
  border-bottom: 1px solid #bbb;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__help {
    background: transparent;
    border: none;
    cursor: pointer;
  }

  &__title {
    font-size: 32px;
    margin: 0;
    text-align: center;

    &--dark {
      color: #fff;
    }
  
    &--light {
      color: #000;
    }
  }

  &__theme {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}