body {
  text-align: center;

  margin: 0;
  overflow: hidden;
}

.App {
  height: 100vh;

  &--dark {
    background-color: #121213;
  }

  &--light {
    background-color: dark;
  }

  &__container {
    max-width: 500px;
    margin: 0 auto;
  }
}
