body {
  text-align: center;
  font-family: Verdana, sans-serif;
  margin: 0;
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
}
