.key {
  height: 58px;
  flex: 1;
  margin-right: 6px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:last-child {
    margin-right: 0;
  }

  border: none;
  border-radius: 4px;
  background: #818384;
  // color: #fff;

  font-size: 1.25em;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  cursor: pointer;

  &--dark {
    color: #fff;
  }

  &--light {
    color: #000;
  }

  &--half {
    flex: 0.5;
    background: #fff;
    margin: 0;

    &-dark {
      background: #121213;
    }
  
    &-light {
      background: #fff;
    }
  }
  
  &--big {
    flex: 1.5;
    font-size: 12px;
  }

  &--green {
    background: #538d4e;
    color: #fff;
    transition: all 0.3s ease-in;
  }

  &--yellow {
    background: #b59f3b;
    color: #fff;
    transition: all 0.3s ease-in;
  }

  &--grey {
    background: #3a3a3c;
    color: #fff;
    transition: all 0.3s ease-in;
  }
}